body {
  font-family: 'Roboto', sans-serif;
}

main:after, main::after, #topo:after {
  content: " ";
  display: table;
}

main:after, #topo:after {
    clear: both;
}

html, body{
  height:100%;
}

img, picture, video, embed {
   max-width: 100%;
}
